:root {
  --darkerGreen: #040d08;
  --darkGreen: #314037;
  --brightOrange: #f25d07;
  --brown: #592a19;
  --darkRed: #8c0303;
  --lightYellow: #d9c99a;
  --lightPink: #d9b4a7;
}

.Entrantes {
  color: var(--lightYellow);
  padding: 25px 0px 0px 37px;
}

h4 {
  color: var(--lightYellow);
  padding: 25px 0px 0px 37px;
}

#contenedorCards {
  margin: 25px 0px 50px 0px;
}

.colCards {
  display: flex;
  justify-content: center;
}

.card {
  margin-bottom: 25px;
}

div[class*="card-img-top"] {
  background-image: url(/img/logo.png);
  height: 200px;
  background-position: center;
  background-size: cover;
}

.card-img-top-entrantes {
  background-image: url(https://images.pexels.com/photos/836850/pexels-photo-836850.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) !important;
}
.card-img-top-entrantes2 {
  background-image: url(https://images.pexels.com/photos/14162348/pexels-photo-14162348.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) !important;
}
.card-img-top-entrantes3 {
  background-image: url(https://images.pexels.com/photos/2871757/pexels-photo-2871757.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) !important;
}
.card-img-top-rolls {
  background-image: url(https://images.pexels.com/photos/13774679/pexels-photo-13774679.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) !important;
}
.card-img-top-rolls2 {
  background-image: url(https://images.pexels.com/photos/1148086/pexels-photo-1148086.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) !important;
}
.card-img-top-rolls3 {
  background-image: url(https://images.pexels.com/photos/14252297/pexels-photo-14252297.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) !important;
}
.card-img-top-rolls4 {
  background-image: url(https://images.pexels.com/photos/14457629/pexels-photo-14457629.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) !important;
}
.card-img-top-postres {
  background-image: url(https://images.pexels.com/photos/4040701/pexels-photo-4040701.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) !important;
}
.card-img-top-postres2 {
  background-image: url(https://images.pexels.com/photos/15580728/pexels-photo-15580728/free-photo-of-comida-chocolate-postre-dulce.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) !important;
}
.card-img-top-bebidas {
  background-image: url(https://images.pexels.com/photos/2286972/pexels-photo-2286972.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) !important;
}
.card-img-top-bebidas2 {
  background-image: url(https://images.pexels.com/photos/3819969/pexels-photo-3819969.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) !important;
}
.card-img-top-bebidas3 {
  background-image: url(https://images.pexels.com/photos/8463127/pexels-photo-8463127.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) !important;
}
.card-img-top-bebidas4 {
  background-image: url(https://images.pexels.com/photos/13883817/pexels-photo-13883817.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) !important;
}

.price {
  font-weight: 600;
  font-size: 1.5em;
}

#navbarLogo {
  margin-left: 12px;
}
