@import "carta";

:root {
  --darkerGreen: #040d08;
  --darkGreen: #314037;
  --brightOrange: #f25d07;
  --brown: #592a19;
  --darkRed: #8c0303;
  --lightYellow: #d9c99a;
  --lightPink: #d9b4a7;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--darkGreen) !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

#logo {
  height: 400px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-end;
}

#botonCarta {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.botonCarta {
  padding: 10px 50px;
  border: solid var(--lightYellow);
  border-radius: 25px;
  border-width: 2px;
  background-color: var(--darkerGreen);
  color: var(--lightYellow);
  font-size: 1.25em;
  display: flex;
  justify-content: center;
}

.wrapper {
  flex: 1;
}

.navbar {
  background-color: var(--darkerGreen);
}

.navbar-brand {
  color: var(--lightYellow) !important;
}

.nav-link {
  color: var(--lightYellow) !important;
}

.navbar-toggler {
  border: transparent !important;
  --bs-navbar-toggler-icon-bg: 0;
  color: transparent !important;
}

.menu-icon {
  height: 100%;
  width: 100%;
}

#headerContainer {
  background-image: url(https://images.pexels.com/photos/4577179/pexels-photo-4577179.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  width: 100vw;
  height: 830px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#imagen1 {
  background-image: url(https://images.pexels.com/photos/359993/pexels-photo-359993.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  height: 280px;
  background-position: center;
  background-size: cover;
}

#fila1 {
  margin-top: 50px;
  margin-bottom: 25px;
}

#imagen2 {
  background-image: url(https://images.pexels.com/photos/10296417/pexels-photo-10296417.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  height: 280px;
  background-position: center;
  background-size: cover;
}

#imagen3 {
  background-image: url(https://images.pexels.com/photos/8951355/pexels-photo-8951355.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  height: 280px;
  background-position: center;
  background-size: cover;
}

#fila3 {
  margin-top: 25px;
  margin-bottom: 50px;
}

.text {
  display: flex;
  justify-content: center;
}

.text > p {
  background-color: var(--darkerGreen);
  color: var(--lightYellow);
  height: 280px;
  padding: 5% 10% 5% 10%;
  margin: 0px;
  display: flex;
  align-items: center;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

#footerContainer {
  background-color: var(--darkerGreen);
  height: fit-content;
  padding-top: 50px;
}

.textFooter {
  background-color: var(--darkerGreen);
  color: var(--lightYellow);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0% 5% 5% 15%;
}

.contenedorTextFooter {
  width: 160px;
  position: relative;
}

.icon {
  height: 24px;
  width: 24px;
}

#copyright {
  padding: 0px 0px 0px 0px;
}

div[class*="col"] {
  padding: 0;
}

.image {
  background-color: var(--brown);
  background-repeat: no-repeat;
}

#spacing-top {
  margin-top: 56px;
}
#spacing-top-carta {
  margin-top: 128px;
}

.contenedorTextContacto {
  color: var(--lightYellow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0px 0px 0px;
  padding: 0px 25px;
}

.contenedorTextContacto > p {
  margin: 25px 0px 5px 0px;
  text-align: center;
}

.contenedorTextHorario {
  color: var(--lightYellow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0px 50px 0px;
}

.contenedorMapa {
  height: 500px;
  padding: 0% 0% 0% 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedorMapa h2 {
  color: var(--lightYellow);
}

.contenedorMapa p {
  color: var(--lightYellow);
  margin: 5px 0px 50px 0px;
}

.contenedorForm {
  height: 590px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 0px 0px;
  margin-bottom: 50px;
}

form {
  width: 80%;
}

.contenedorForm h2 {
  color: var(--lightYellow);
}

.form-label {
  color: var(--lightYellow);
}

textarea {
  resize: none !important;
}
